.weatherForecast img {
    display: block;
    margin: 10px 0;
}

.weatherForecast {
    font-family: 'Alfa Slab One', cursive;
    margin-top: 15px;
}

.temp {
    font-family: 'Alfa Slab One', cursive;
    color: rgb(33, 33, 33);
    font-size: 18px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
}
