.weatherForecast img {
    display: block;
    margin: 10px 0;
}

.weatherForecast {
    font-family: 'Alfa Slab One', cursive;
    margin-top: 15px;
}

.temp {
    font-family: 'Alfa Slab One', cursive;
    color: rgb(33, 33, 33);
    font-size: 20px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
}

.forecastDate {
    font-size: 16px;
    color: black;
}

.weekDayForecast {
    color: #ffc107;
    font-size: 16px;
    -webkit-text-stroke: 0.2px black;
}
